<style type="text/css">
      tbody>tr:nth-child(2n) {
             background-color: #FFEBCD;
        }
      tbody>tr:nth-child(2n+1) {
             background-color: #6699ff;
        }
      input {
        margin-bottom: 0.5cm;
        margin-top: 0.5cm;
        margin-left: 0.5cm;
      }
      button {
        margin-bottom: 0.5cm;
        margin-top: 0.5cm;
        margin-right: 1.5cm;
      }
      table {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
      }
</style>
<div>
  <!-- lineChart -->
  <line-chart list-data="productListController.data" watch="productListController.watch"></line-chart>

  <!-- Stats directive -->
  <stats data="productListController.data"></stats></br>

  <!-- Table -->
  <table style="width:97%" class="ng-cloak" border="1">
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Gender</td>
        <td>Company Name</td>
        <td>Job Title</td>
        <td>Email</td>
        <td>ID</td>
      </tr>
    </thead>

    <input type="text" ng-model="productListController.firstNameInput">
    <button type="button" class="pull-right" ng-click="productListController.addProduct()">ADD ROW</button>
    <tbody>
      <tr ng-repeat="user in productListController.data | firstNameFilter: productListController.firstNameInput">
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.company_name}}</td>
        <td>{{user.job_title}}</td>
        <td>{{user.email}}</td>
        <td>{{user.id}}</td>
      </tr>
    </tbody>
  </table>

</div>
