<style type="text/css">
      tbody>tr:nth-child(2n) {
             background-color: #FFEBCD;
        }
      tbody>tr:nth-child(2n+1) {
             background-color: #ccffff;
        }
      input {
        margin-bottom: 0.5cm;
        margin-top: 0.5cm;
        margin-left: 0.5cm;
      }
      button {
        margin-bottom: 0.5cm;
        margin-top: 0.5cm;
        margin-right: 1.5cm;
      }
      table {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
      }
</style>
<div>
  <!-- lineChart -->
  <line-chart list-data="productListController.data" watch="productListController.watch"></line-chart></br>

  <!-- Stats directive -->
  <stats data="productListController.data"></stats></br>

  <!-- Table -->
  <table style="width:97%" class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Email</th>
        <th>ID</th>
      </tr>
    </thead>

    <input type="text" ng-model="productListController.firstNameInput">
    <button class="btn btn-primary pull-right" type="button" ng-click="productListController.addProduct()">ADD ROW</button>
    <tbody>
      <tr ng-repeat="user in productListController.data | firstNameFilter: productListController.firstNameInput">
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.company_name}}</td>
        <td>{{user.job_title}}</td>
        <td>{{user.email}}</td>
        <td>{{user.id}}</td>
      </tr>
    </tbody>
  </table>

</div>
